body{
	
	margin: 0;
}
.tit{
	padding: 9px
}
h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Amiri', serif;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	top:88%;
	width: 100%;
	
	
	text-align: center;
  }
@media only screen and (min-width: 768px) {
  
.section-forms{
position: relative;
}

.forms{
position: absolute;
width: 100%;
right: 35%;
padding: 15px;
}

.form-info{
	position: absolute;
	width: 100%;
right: 90%;
padding: 15px;
}

  }

@media only screen and (max-width: 768px) {
	.rounded{
		width: 70%;
	}
 



}